---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <div pt-24 pb-12>
        <h1 text-2xl font-bold  py-2 class="text-[#202020] dark:text-[#EEEEEE]">持用之物 · Uses</h1>
        <p text-lg>持之以正 · 用之以诚 · Hold fast to righteousness, and act with sincerity.</p>
    </div>
	<div py-5>
        <p>Windows · iPad OS · iOS · Android</p>
    </div>
    <div un-grid grid-cols-2 gap-4 md:grid-cols-3>
        <div p-5 bg-white w-full aspect-ratio-square rounded-lg un-grid grid-cols-2 grid-rows-2 gap-1>
            <div un-flex justify-center items-center bg-[#f5f5f5] rounded-lg><div class="i-logos:astro-icon w-34.98px h-50px"></div></div>
            <div un-flex justify-center items-center font-bold>Astro</div>
            <div grid-area="3 / 1 / 4 / 3">The web framework sdfs fsdf sdfs df</div>
        </div>
        <div p-5 bg-white w-full aspect-ratio-square rounded-lg un-grid grid-cols-2 grid-rows-2 gap-1>
            <div un-flex justify-center items-center><div class="i-logos:apostrophe w-49.43px h-50px"></div></div>
            <div un-flex justify-center items-center>2</div>
            <div bg-emerald>3</div>
            <div bg-red>4</div>
        </div> <div p-5 bg-white w-full aspect-ratio-square rounded-lg un-grid grid-cols-2 grid-rows-2 gap-1>
            <div un-flex justify-center items-center><div class="i-logos:arc w-58.45px h-50px"></div></div>
            <div bg-blue>2</div>
            <div bg-emerald>3</div>
            <div bg-red>4</div>
        </div>
    </div>
</Layout>
