---
import { ClientRouter } from 'astro:transitions';
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/at.ico" type="image/x-icon">
    <meta name="generator" content={Astro.generator} />
    <title>拾遗</title>
    <mata name="description" content="浮生若梦，拾遗几何。" />

    <ClientRouter />
    <slot />
</head>