<header p-8 un-flex justify-between items-center>
    <div>
        <a href="/">
        <img src="/yin-yang.png" alt="Logo" width="40" height="40">
        </a>
    </div>
    <div un-flex gap-6 md:gap-8>
        <a href="/blog"><span class="lt-md:hidden">浮生六记</span>
            <div class="i-iconoir-post w-24px h-24px md:hidden" />
        </a>
        <a href="/photos"><span class="lt-md:hidden">相册</span>
            <div class="i-proicons-photo w-24px h-24px md:hidden"></div>
        </a>
        <a href="https://github.com/cyberheyu"><div class="i-line-md:github-loop w-24px h-24px"></div></a>
        <a href="/rss.xml"><div class="i-la:rss-square w-24px h-24px"></div></a>
        
    </div>
</header>