<header p-8 un-flex justify-between items-center>
    <div>
        <a href="/">
        <img src="/yin-yang.png" alt="Logo" width="40" height="40">
        </a>
    </div>
    <div un-flex gap-8>
        <a href="/blog"><span class="lt-md:hidden">博客</span>
            <div class="i-iconoir-post w-24px h-24px md:hidden" />
        </a>
        <a href="/photos"><span class="lt-md:hidden">影集</span>
            <div class="i-proicons-photo w-24px h-24px md:hidden"></div>
        </a>
        <!-- <a href="/uses"><span class="lt-md:hidden">Uses</span>
            <div class="i-duo-icons-app w-24px h-24px md:hidden"></div>
        </a> -->
        <a href="/rss.xml"><div class="i-la:rss-square w-24px h-24px"></div></a>
        
    </div>
</header>