<div pt-24 pb-12 un-flex flex-col break-words>
	<h1 text-3xl font-bold  py-2 class="text-[#202020] dark:text-[#EEEEEE]">拾遗</h1>
	<p text-lg>浮生若梦，拾遗几何。</p>
</div>
<div un-flex flex-col gap-5>
	<p>你好~我是和豫，一个安全工程师。本质是一个观察者，偶尔是一个创作者，始终是一个学习者。</p>
	<h3 class="text-[#202020] dark:text-[#EEEEEE] font-bold text-lg">关于这里</h3>
	<p>「拾遗」是一座收集时光碎片的小驿站——</p>
	<p>拾取晨光中的一缕遐想，打捞深夜的星火思绪，</p>
	<p>打包装帧那些途经生命却易逝的吉光片羽。</p>
	<h3 class="text-[#202020] dark:text-[#EEEEEE] font-bold text-lg">你会遇见</h3>
	<li>书页间生长的顿悟与困惑</li>
	<li>山海旅途中折叠的风景与心跳</li>
	<li>生活褶皱里藏匿的诗意与哲思</li>
	<li>世界投映在平凡日子里的奇妙光斑</li>
	<h3 class="text-[#202020] dark:text-[#EEEEEE] font-bold text-lg">愿这些文字</h3>
	<p>成为你咖啡杯里泛起涟漪的方糖，或某次午夜辗转时默契的相视一笑。</p>
	<p>给我发邮件: <a text-purple hover:text-blue href="mailto:hi@shiyi.me">hi@shiyi.me</a></p>
</div>

