---
import Head from "../components/Head.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---
<!doctype html>
<html lang="zh">
	<Head>
		
		<meta property="og:title" content="拾遗" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://oss.shiyi.me/og.jpg" />
		<meta property="og:url" content="https://shiyi.me" />
		<meta property="og:description" content="浮生若梦，拾遗几何。" />

	</Head>
	<body class="bg-[#F5F5F5] text-[#646464] dark:bg-[#1d1e20] dark:text-[#B4B4B4]" >
		<Header />
		<div max-w-3xl m-a px-6>
			<slot />
		</div>
		<Footer />
	</body>
</html>

